	<meta charset="UTF-8">
	<meta name="description" content="Seyoum beyene construction Management Consulting">
	<meta name="keywords" content="consulting, architecture, creative, html, construction">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<!-- Page Preloder 
	<div id="preloder">
		<div class="loader"></div>
	</div>-->
<style type="text/css">
	.mission-area{
		text-align: center;
	}
	.title-about-us{
		text-decoration: underline;
	}
</style>
	<!-- Page header section start -->
	<section class="page-header-section set-bg">
		<div class="container">
			<h1 class="header-title">About us<span>.</span></h1>
		</div>
		<div class="slide-num-holder" id="snh-1"></div>
		<div class="hero-right-text"><span style="color: black;">Seyoum</span> Beyene</div>
	</section>
	<!-- Page header section end -->

	<!-- Intro section start -->
	<section class="intro-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 intro-text">
					<h1>We are a creative Architecture<span style="color: white;">Studio</span></h1>
					<div class="row">
						<div class="col-md-6">
							<p>Pellentesque lorem dolor, malesuada eget tortor vitae, tristique lacinia lectus. Pellentesque sed accumsan risus, id aliquam nulla. Integer lorem risus, feugiat at mauris malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula. accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula.accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula.accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula.</p>
						</div>
						<div class="col-md-6">
							<p>Curabitur finibus dolor vel lectus pretium interdum a eget ante. Morbi rhoncus feugiat imperdiet. Curabitur non maximus leo. Nulla in ipsum sed magna egestas bibendum. Integer in sem sagittis, commodo mi sit amet, commodo nibh. Suspendisse potenti. Aliquam erat volutpat.accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula.accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula. accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula.</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<%=image_tag("2.jpg", alt: "About image 1") %>
				</div>
			</div><hr>
		</div>
	</section>
	<!-- Intro section end -->
	<!-- Mission Section start-->
	<section class="mission-area">
	<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
	 	<div class="row">
	 		<center>
	 			<h1 class="title-about-us">How We <span style="color: white;">Started</span></h1>
	 		</center>
	 	</div>
            <div class="about-history-content" style="text-align: center;">
               <p>Our modern and duly tailored management system supports our team in particular and majority of our service recipients in general to organize, mobilise, monitor, supervise and report all operations that the company is undertaking.
With attentively controlled Quality Management Systems and an uncompromising work ethic, our service delivery points, control and supervisory team are availed and situated at a closer distance to each and every service recipient facilities as to be a.</p>
            </div>
    </div>
</section>
	<!-- Mission section end-->
<hr>

	<!-- Team section start -->
	<section class="team-section spad">
		<div class="container">
			<div class="section-title mb100">
				<hr>
				<h1 style="color: white;">The Team</h1>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="team-member">
						<img src="/assets/icon1.png" alt="">
						<div class="member-info">
							<h2>seyoum Beyene</h2>
							<p>Senior enginner</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-member">
						<img src="/assets/icon1.png" alt="">
						<div class="member-info">
							<h2>seyoum Beyene</h2>
							<p>Senior enginner</p>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="team-member">
						<img src="/assets/icon1.png" alt="">
						<div class="member-info">
							<h2>seyoum Beyene</h2>
							<p>Senior enginner</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Team section end -->


<section class="promo-section pt-0">
		<div class="promo-box set-bg" data-setbg="img/bg.jpg">
			<div class="container">
				<div class="row">
					<div class="col-lg-9 promo-text">
						<h1>In need of a <span style="color: white;">Consultant</span> for your building or home?</h1>
					</div>
					<div class="col-lg-3 text-lg-right">
					<%= link_to("Get in Touch", new_contact_path,  class: "site-btn sb-light mt-4" )%>
				</div>
				</div>
			</div>
		</div>
	</section>
