<section class="page-header-section set-bg" >
		<div class="container">
			<div class="section-title pt-5">
				<h1 style="color: white;">Contact Us</h1>
			</div>
		</div>
	</section>
	<!-- Page header section end -->


	<!-- Page section start -->
	<section class="page-section pt100">
		<div class="container pb100">
			<div class="section-title pt-5">
				<h1 style="color: white;">Get in touch</h1>
			</div>
			<div class="row">
				<div class="col-lg-3 contact-info mb-5 mb-lg-0">
					<p>Address: Addis Ababa,Ethiopia Ethio China road Wengelawit building 1st floor room 111 </p>
					<p>Phone: +251 111111111</p>
					<p>Email: yourmail@gmail.com</p>
					<div class="cf-social">
							<a href="#"><i class="fa fa-linkedin"></i></a>
							<a href="#"><i class="fa fa-facebook"></i></a>
					</div>
				</div>
				<div class="col-lg-9">
					<form class="contact-form">
						<input type="text" placeholder="Enter your name">
						<input type="text" placeholder="Enter your email address">
						<textarea placeholder="Message ..."></textarea>
						<button class="site-btn sb-dark">Send</button>
					</form>
				</div>
			</div>
		</div>
		<div class="map-area" id="map-canvas">map area here</div>
	</section>
	<!-- Page section end -->
