<!-- Page header section start -->
	<section class="page-header-section set-bg">
		<div class="container">
			<h1 class="header-title">Portfolio<span>.</span></h1>
			<h4 style="color: white;">Seyoum Beyene Construstion management & Consulting</h4>
		</div>
		<div class="slide-num-holder" id="snh-1"></div>
		<div class="hero-right-text"><span style="color: black;">Seyoum</span> Beyene</div>

	</section>
	<!-- Page header section end -->


	<!-- Page section start -->
	<div class="page-section spad">
		<div class="container">
			<!-- portfolio filter menu -->
			<ul class="portfolio-filter">
				<li class="filter" data-filter="*">Commercial Building</li>
				<li class="filter" data-filter=".photo">Apartments</li>
				<li class="filter" data-filter=".design">Mixed Use Building</li>
				<li class="filter" data-filter=".iden">Home Designs</li>
			</ul>
		</div>
		<!-- portfolio items -->
		<section class="blog-area blog-page section-padding">
     <div class="row">
        <% @portofolios.each do |f|%>
          <div class="col-sm-3 col-sm-offset-1 col-xs-12 ">
            <hr>
		        <div class="well" >
		        	<div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
              <div class="blog-image col-xs-offset-1" style="width: 200px;height: 200px; ">
					<span style="width: 200px; height: 200px;"> 
						 <%= image_tag(f.building_photo.url(:small_thumbnail), alt: "#{f.building_name}") if !f.building_photo.nil? %>
						</span>
					</div>
            </div>
		            	<div class="row building-tag">
		            	<strong class="building-tag">Bilding name:</strong>
		                <p  style="font-family: Serif;"><%=f.building_name%></p>
		            </div>
		            <div class="row building-tag">
		            	<strong class="building-tag">Building description:</strong>
		                <p  style="font-family: Serif;"><%=f.building_description%></p>
		            </div>
                </div>
       		 </div>
   		 <%end%>
    </div>
</section>

		<!-- pagination area -->
		<div class="container">
			<div class="pagination">
				<a href="#">01</a>
				<a href="" class="active">02</a>
				<a href="">03</a>
			</div>
		</div>
		<!-- pagination area end -->
	</div>
	<!-- Page section end -->




<style type="text/css">
	.building-tag{
		text-align: center;
	}
</style>
