	<!-- Testimonials section start -->
	<section class="testimonials-section spad">
		<div class="testimonials-image-box"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-7 pl-lg-0 offset-lg-5 cta-content">
					<h1>Clients <span>testimonials</span></h1>
					<div class="qut">“</div>
					<div class="testimonials-slider" id="test-slider">
						<div class="ts-item">
							<p>Pellentesque lorem dolor, malesuada eget tortor vitae, tristique lacinia lectus. Pellentesque sed accumsan risus, id aliquam nulla. Integer lorem risus, feugiat at mauris malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur finibus dolor vel lectus pretium interdum a eget ante. </p>
							<h4>Maria Westminster</h4>
							<span>Client</span>
						</div>
						<div class="ts-item">
							<p>Pellentesque lorem dolor, malesuada eget tortor vitae, tristique lacinia lectus. Pellentesque sed accumsan risus, id aliquam nulla. Integer lorem risus, feugiat at mauris malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur finibus dolor vel lectus pretium interdum a eget ante. </p>
							<h4>Maria Westminster</h4>
							<span>Client</span>
						</div>
						<div class="ts-item">
							<p>Pellentesque lorem dolor, malesuada eget tortor vitae, tristique lacinia lectus. Pellentesque sed accumsan risus, id aliquam nulla. Integer lorem risus, feugiat at mauris malesuada, accumsan pellentesque ipsum. Nunc dapibus, libero ut pulvinar accumsan, tortor nisl iaculis ligula. Curabitur finibus dolor vel lectus pretium interdum a eget ante. </p>
							<h4>Maria Westminster</h4>
							<span>Client</span>
						</div>
					</div>
					<div class="slide-num-holder test-slider" id="snh-2"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- Testimonials section end -->
